/******************************************************************************
 * spacer div
 ******************************************************************************/
.m-spacer { 
 clear: both;
 line-height: 0; 
} 

/******************************************************************************
 * Box
 ******************************************************************************/
/*form*/
.m-box-outer
{

}

* html .m-box-box
{
 height: 1%;
}

.m-box-box
{
 margin-top: auto;
 margin-bottom: auto;
 width:100%;

}
/*titulo do formulario*/
.m-box-title
{
/*background-color:#CEEEBB;*/
/*background-image:url(/images/titulo_form.png);
background-repeat:no-repeat;*/
 font-weight: bold;
 text-decoration: none;
 height: 30px;
 vertical-align: top; 
/*background-image:url(/images/tit-form.png);*/
/* background-position: 0 .3em;*/
/* background-position: bottom left;
 background-repeat: repeat-x;*/
border-bottom:2px dotted #034A1D;
}

/*parte do titulo*/
.m-box-title .caption
{
 text-align: left;
 padding-top: 2px;
 float: left; 
 width: 80%;
font-size:20px;
color:#034A1D;

}

.m-box-title .icon
{
 float: left; 
 padding-top: 2px;
 padding-left: 2px;

 width: 20px;
}
/*botao fechar*/
.m-box-title .button
{
 float: right; 
 padding-top: 2px;
 padding-right: 0px;
 width: 20px;
 text-align: right;
}
/*nao sei o que isssoooooooooo*/
.m-box-content
{
 font: caption;
 padding: 8px;
}

/******************************************************************************
 * Panel
 ******************************************************************************/

/* Tan hack for IE/Win */

* html .m-panel-body
{
 height: 1%;
}
/*panel dos icones*/
.m-panel-body
{
 overflow:hidden;
}
/*dos icones*/
.m-panelcontrol-box
{
 border: 3px double #E8F7D8;
 margin: 10px 2px 0 2px;
 padding: 5px 5px 20px 5px;
}

.m-panelcontrol-box-hover
{
 margin: 2px 0px 0 0px;

}

/******************************************************************************
 * promptBox
 ******************************************************************************/
.m-prompt-box
{
 width: 100%;
 margin-top: 60px;
 margin-bottom: 10px;
 text-align: center;
 border: 0 none;
}

.m-prompt-box-box
{
 width: 310px;
 margin-left: auto;
 margin-right: auto;
}

.m-prompt-box-button
{
 clear: left;
 text-align: center;
}

.m-prompt-box-button li button
{
 font: caption;
 width: 80px;
 margin: 5px;
}

.m-prompt-box-button ul 
{ 
 list-style: none; 
 padding: 0;
 margin: 0;
}

.m-prompt-box-button ul li
{ 
 display: inline;
}

.m-prompt-box-text
{
 float: left;
 text-align: left;
 padding: 5px 5px 5px 40px;
 font-size: 11px;
 font-weight: bold;
}

.m-prompt-box-text li
{
 background-image: url(/images/bullet.gif);
 background-repeat: no-repeat; 
 background-position: 0 0.5em;
 margin-left: .7em;
 padding-left: 10px; 
}

.m-prompt-box-text ul 
{ 
 list-style: none; 
 padding: 0;
 margin: 0;
}

.m-prompt-box-title
{
 color: #FFF;
 font-weight: bold;
 font-size: 12px;
 text-decoration: none;
 vertical-align: top;
 height: 17px;
 margin: 2px 1px 0px 1px;
}

.m-prompt-box-title .caption
{
 text-align: left;
 padding-top: 2px;
 float: left; 
}

.m-prompt-box-title .icon
{
 float: left; 
 padding-top: 2px;
 padding-left: 2px;
 width: 20px;
}

.m-prompt-box-title .button
{
 float: right; 
 padding-top: 2px;
 padding-right: 2px;
 width: 20px;
 text-align: right;
}

.m-prompt-box-title-error
{
 background-color: #990000;
}

.m-prompt-box-error
{
 background-color: threedface;
 width: 100%;
 background-image: url(/images/error.gif);
 background-repeat: no-repeat; 
 background-position: 5px 5px;
}

.m-prompt-box-title-information
{
 background-color: #0000ff;
}

.m-prompt-box-information
{
 background-color: threedface;
 width: 100%;
 background-image: url(/images/information.gif);
 background-repeat: no-repeat; 
 background-position: 5px 5px;
}

.m-prompt-box-title-confirmation
{
 background-color: #0000ff;
}

.m-prompt-box-confirmation
{
 background-color: threedface;
 width: 100%;
 background-image: url(/images/question.gif);
 background-repeat: no-repeat; 
 background-position: 5px 5px;
}

.m-prompt-box-title-question
{
 background-color: #006633;
}

.m-prompt-box-question
{
 background-color: threedface;
 width: 100%;
 background-image: url(/images/question.gif);
 background-repeat: no-repeat; 
 background-position: 5px 5px;
}
