/******************************************************************************
 * Containers
 ******************************************************************************/
*
{
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size:12px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	color:#666666;
/*border: 1px solid blue;*/
}

html{

/* background-image: url(images/logo_siga2.png);*/
	
}

a:link, a:visited, a:hover, a:active
{
	text-decoration:none; 	
	color: #000;
}

a img{
	border:0px;
	padding:0px;
	margin:0px;
}

body
{
 font: Verdana;
 width: 100%;
 height:100%;
 text-align: center;
/* margin-left:auto;
 margin-right:auto;*/

}

h1
{
 font-size: 15px;
 font-weight: bold;
 margin: 0 0 10 0;
}

h2
{
 font-size: 15px;
 font-weight: bold;
 margin: 0 0 0 15px;
}

h3
{
font-size: 15px;
 font-weight: normal;
 color: #900;
 margin: 0 0 0 35px;
 display: inline;
}

h4
{
 font-size: 10px;
 font-weight: normal;
 color: #000;
 margin: 0 0 0 45px;
 padding: 0;
 display: inline;
}

fieldset
{
 font-size: 15px;
 font-weight: normal;
 margin: 0;
 padding: 0;
}

code
{
font-size: 25px;
 font-weight: bold;
 padding: 5px;
}

#m-container
{

 width:960px;
/* border: 1px solid #DDDDDD;  */
 margin-left: auto;
 margin-right: auto;
 text-align: left;

}
#m-container-top
{
 height: 98px;
 background-image:url(/images/topo.png);
 background-repeat: no-repeat;

}

#m-container-top .logo
{
 float: left;
 width: 65px;
 padding:35px 0px 0px 0px;

}

#m-container-top .text
{
 float: right;
 width: 680px;
 margin: 0;
 padding: 0 3px 0 0;
 text-align: right;
}

#m-container-top .text h1
{
 font-size: 14px;
 font-weight: bold;
 color: #900;
 margin: 0;
} 

#m-container-top .text h2
{
 font-size: 12px;
 font-weight: bold;
 color: #666;
 margin: 0;
} 
/*nao sei pra q esse module
fica em baxo do menu*/
#m-container-module
{
 padding: 2px;
 font-size: 11px;
 font-weight: bold;
 text-align: right;

}
/*----navegação*/
#m-container-topmenu
{
 position: relative; /* posistion deve ser relative */
 z-index: 0; /* z-index deve ser menor que em mainmenuContainer */
border-bottom:1px dashed #C6C5C1;
}
/*alterei*/
#m-container-dhtmlmenu /* estilo para o mainmenuContainer -> deve ser criado */
{
/*width:500px;*/
/* position: relative; *//* position deve ser relative */
/* z-index: 1;*/ /* z-index deve ser maior que em contentContainer e contentFullContainer */
 /*height: 18px; */
/* font-family:Helvetica;
 color:#616161;
 font-weight:bold;*/
/* background-image:url(/images/back_menu.png);
 background-repeat: repeat-x;*/
/*background:black;
border-top: 0px solid #C6C5C1;
border-bottom: 0.8px dashed #C6C5C1;*/
list-style-type:circle;
position: absolute;
display:block;


}

/*---------------------nao sei deonde e isso*/
#m-container-menu
{
float:left;
 width: 180px;
border:none;
display:block;
 background-image: url(/images/menu_back.png);
background-repeat:repeat-y;
color:#5d6c53;
height:610px;
}

#m-container-content
{
 width: 760px;
 height: auto;
 text-align: left;
margin-left:10px;
 /*position: relative;  posistion deve ser relative */
/* z-index: 0;*/ /* z-index deve ser menor que em mainmenuContainer */
float:left;

}

#m-container-content-full
{ 
 text-align: left;
 /*position: relative;*/ /* posistion deve ser relative */
/* z-index: 0;*/ /* z-index deve ser menor que em mainmenuContainer */
 font-weight: normal;
 /*border: 1px solid #DDDDDD;*/
/*background-image:url("images/topo_form.png");
background-repeat:no-repeat;*/

}
/*---------------------nao sei deonde e isso*/
#m-container-content-popup
{
 height: auto;
 text-align: left;
 position: relative; /* posistion deve ser relative */
 z-index: 0; /* z-index deve ser menor que em mainmenuContainer */
 font: caption;
 font-weight: normal;
 background: window;
}

#m-container-bottom
{
clear:both;
 background-image: url(/images/rodape.png);
 background-repeat: no-repeat;
height:55px;
color: #5d6c53;
}

.m_popup
{
 overflow: hidden;
 border-style: none;
 border: 0;
}

.m-dialog
{
 position: absolute;
 border-style: none;
 border: 0;
 padding-top: 15px;
 z-index: 202;
 background-color: red;
}

.m-dialog-iframe
{
	margin: 0px;
	position: absolute;
	z-index: 199;
	background-color:transparent;
	border: 0px;
	padding: 0px;
	overflow: hidden;
}


#m-dialog-modal {
 position: absolute;
 z-index: 200;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 opacity: .2;
 filter: alpha(opacity=20);
 /* this hack is so it works in IE
 * I find setting the color in the css gives me more flexibility 
 * than the PNG solution.
 */
 background-color: transparent !important;
 background-color: #FFF;
 /* this hack is for opera support
 * you can uncomment the background-image if you don't care about opera.
 * this gives you the flexibility to use any bg color that you want, instead of the png
 */
 background-image/**/: url("images/maskBGwhite.png") !important; // For browsers Moz, Opera, etc.
 background-image: none;
 background-repeat: repeat;
 display: none;
}

/******************************************************************************
 * ???
 ******************************************************************************/

.currentPageNumber
{
 color: #f00;
 font-weight: bold;
}

div.statistics
{
 position: absolute;
 width: 500px;
 left: 10px;
 overflow: scroll;
 height: 200px;
}

div.statistics .image
{
 text-align: right;
}

div.statistics .text
{
 background-color: #f7f7f7;
 border-top: solid #555 1pt;
 border-bottom: solid #fff 1pt;
 border-left: solid #555 1pt;
 border-right: solid #fff 1pt;
 vertical-align: top;
 font-size: 10px;
 font-style: normal;
 font-weight: normal; 
 color: #005;
 padding: 4pt; 
}
