
.m-hr { 
/* width: 99%; */
/* height: 0; */
/* border-top: 1px solid threeddarkshadow; 
 border-bottom: 1px solid threedhighlight; 
 line-height: 0; */
} 
/*tirei do menu*/
.m-separator { 
/* width: 95%;
 font-size: 11px;
 padding: 2px;
 margin: 0 0 2px 0;
 font-weight: normal;*/

} 
/*donde eh issoooooooooooooooooooooooooooooooooooo?*/
#m-htmlarea { 
 margin: 15px;
 width: 90%; 
} 

/* Tan hack for IE/Win */
/*donde eh issoooooooooooooooooooooooooooooooooooo?*/
* html .m-container-controls
{
 height: 1%;
}
/*botoes*/
.m-container-controls
{
 overflow: hidden;
padding-top:17px;
}
/*maximo de caracteres*/
.m-hint
{
 font-size: 10px;
 color:green;
 padding-left: 2px;
 padding-right: 2px;
 vertical-align: middle;
}
/*donde eh issoooooooooooooooooooooooooooooooooooo?*/
.m-readonly
{
 font: caption;
 font-weight: bold;
 color: black;
}

.formBaseLabel
{
 height: 15px;
}

.m-label
{

}
/*nomes antes dos campos*/
.m-caption
{
 padding-left: 3px;
}

.m-label-text
{
 font: message-box;
 font-weight: bold;
}

.m-text
{
 font: message-box;
}
/*text-field*/
.m-text-field
{
 font: message-box;
}

.m-button { 
 font: message-box;
}
/*lupa*/
.m-button-find { 
 background-image: url(/images/button_select.png);
 background-repeat: no-repeat; 
 border:0px;
 width: 17px;
 height: 17px;
 margin:3px;
 background-color:white;
/* text-align: middle;
 vertical-align: top;*/
}

.m-button-close-up { 
 background-image: url(/images/button_close_up.gif);
 background-repeat: no-repeat; 
 width: 17px;
 height: 17px;
}

.m-button-close-down { 
 background-image: url(/images/button_close_down.gif);
 background-repeat: no-repeat; 
 width: 17px;
 height: 17px;
 text-align: middle;
 vertical-align: top;
}
/*--------------------------------------------------pareeeei aki*/
.m-multiline-field { 
 font: message-box;
 font-weight: normal;
 vertical-align: top;
}

.m-combo { 
 font: message-box;
 font-weight: normal;
}

.m-radiobutton-group { 
 font: message-box;
 font-weight: normal;
 margin-top: 1px;
 margin-bottom: 1px;
 vertical-align: 20%;
}

.m-checkbox-group { 
 font: message-box;
 font-weight: normal;
 margin-top: 2px;
 margin-bottom: 1px;
 vertical-align: 20%;
}

.m-scrollable-label
{
 font: message-box;
 font-weight: normal;
}

.m-scrollable-field
{
 background-color: #EDEDED; 
 border: solid #c0c0c0 1px;
 overflow: auto;
}


.m-multitext-field
{
} 

.m-multitext-field .select
{ 
 font: message-box;
 font-weight: normal;
 width: 180px; 
}

.m-multitext-field .label
{
 font: message-box;
 font-weight: normal;
 margin-top: 1px;
 margin-bottom: 1px;
 vertical-align: top;
}

.m-multitext-field .textfield 
{ 
 font: message-box;
 font-weight: normal;
}

.m-multitext-field .combo
{ 
 font: message-box;
 font-weight: normal;
}

.m-multitext-field .button { 
 font: message-box;
 font-weight: normal;
 margin: 0 5px 5px 0;
 width: 70px;
 text-align: center;
 vertical-align: top;
}

.m-multitext-field .buttonPosH
{ 
 float: left;
 margin-left: 5px;
}

.m-multitext-field .fieldPosH
{ 
 float: left;
 width: 200px;
}

.m-multitext-field .selectPosH
{ 
 float: left;
}

.m-multitext-field .selection
{ 
 float: left;
 width: 280px;
}

.m-multitext-field div fieldset
{ 
 padding: 5px;
}

.m-filecontent
{
 font: message-box;
 font-weight: bold;
 text-align: left;
}

/******************************************************************************
 * TableRaw
 ******************************************************************************/

.m-tableraw
{
/*background-color: #FFF;*/
 font: message-box;
 padding: 4px;

}

.m-tableraw-title
{ 
/* background-color: #FFF;*/
 color: #359;
 font-weight: bold;
 font-size: 12px;
 text-align: center;
}

.m-tableraw-column-title
{ 
 background-color: #FFF;
 font-weight: bold;
 color: #000;
 font-size: 11px;
 text-align: left;
}

.m-tableraw-row
{
 background-color: #FFF;
 font: message-box;
 color: #000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: none
}

.m-tableraw-row-0
{
 background-color: #FFF;
 font: message-box;
 color: #000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: none
}

.m-tableraw-row-1
{
 background-color: #DDD;
 font: message-box;
 color: #000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: none
}

.m-tableraw-cell
{
}

/******************************************************************************
 * pageNavigator
 ******************************************************************************/

.m-pagenavigator
{
 padding: 2px;
 height: 17px;
 overflow: hidden;
}
 
.m-pagenavigator-text
{ 
 font: message-box;
 vertical-align: top;
}
 
.m-pagenavigator-range
{ 
 font: message-box;
 vertical-align: middle;
 display: block;
}

.m-pagenavigator-image
{
 border: 0;
 width: 17px; 
 display: block;
 vertical-align: middle;
}

.m-pagenavigator-selected
{ 
 font: message-box;
 color: #900;
 font-weight: bold;
 font-size: 11px;
 text-decoration: none;
 margin-left: 5px;
 vertical-align: top;
}

.m-pagenavigator-link
{ 
 font: message-box;
 color: #000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: underline;
 vertical-align: middle;
 margin-left: 5px;
 vertical-align: top;
}
 
.m-pagenavigator-link: link, .m-pagenavigator-link: visited
{ color: #000;
 font-weight: normal;
 text-decoration: underline;
}

.m-pagenavigator-link: active, .m-pagenavigator-link: hover
{
 color: #900;
 font-weight: normal;
 text-decoration: underline;
}

/******************************************************************************
 * Hyperlink
 ******************************************************************************/

.m-link
{ 
 font: message-box;
 font-weight: bold;
 font-size: 11px;
 text-decoration: underline;
}

.m-link:link
{ 
 color: #000;
 font-weight: bold;
 text-decoration: underline;
}

.m-link:visited
{
 color: #000;
 font-weight: bold;
 text-decoration: underline;
}

.m-link:hover
{
 color: #900;
 font-weight: bold;
 text-decoration: underline;
}

.m-link:active
{
 color: #900;
 font-weight: bold;
 text-decoration: underline;
}

/******************************************************************************
 * Images
 ******************************************************************************/
.m-image-centered
{
 font: message-box;
 text-align: center;
}

.m-image-icon
{
 vertical-align: middle;
 margin: 2px;
 padding: 0;
 width: 16px;
 height: 16px;
 border: none;
}

.m-image-link
{ 
 text-decoration: none;
}

.m-image-label
{
 text-align: center;
 margin: 3px 3px 3px 3px;
 display: block;
}

.m-image-link-label
{ 
 color: black;
 font-weight: normal;
 text-decoration: underline;
}

.m-image-link-label:link
{ 
 color: black;
 text-decoration: underline;
}

.m-image-link-label:visited
{
 color: black;
 text-decoration: underline;
}

.m-image-link-label:hover
{
 color: #900;
 text-decoration: underline;
}

.m-image-link-label:active
{
 color: #900;
 text-decoration: underline;
}

/******************************************************************************
 * LiveLookup
 ******************************************************************************/
.m-livelookup-container
{
   border: 1px solid blue;
   padding-top: 5px;
   overflow: hidden;
	
}
