/******************************************************************************
 * DHTMLMenu
 ******************************************************************************/
/* --- menu styles ---
note: 
 not all browsers render styles the same way so try out your style sheet
 on different browsers before publishing;
*/
/* level 0 inner */
.m0l0iout {



}
.m0l0iover {

}
.m0l0idown {

}

/* level 0 outer */
.m0l0oout {
;

}
.m0l0oover {

}
.m0l0odown {


}

/* level 1 inner */
.m0l1iout {


}

/*mnao sei*/
.m0l1iover {

}

/* level 1 outer */
/*borda em baixo das plavaras menu down*/
.m0l1oout {

}

.m0l1oover { 

}

/* level 2 inner */
.m0l2iover {

}

/* level 2 outer */
.m0l2oout {

}
.m0l2oover {

}

/**********************************
SERTAOGGI
***********************************/

/**********************************
SERTAOGGI - MAIN MENU (PARÂMETROS ESPECIAIS)
***********************************/
/*
 widht, height: tamanho dos itens
 block_top, block_left: deslocamento do bloco de menu com relação à origem
 top, left: deslocamento entre itens de um mesmo nível
*/
/* &&&
0;width: 120;height: 16;top: 0;left: 5;hide_delay: 200;expd_delay: -200
1;width: 150;height: 20;top: 20;left: 0;block_top: 15;block_left: 0;hide_delay: 100;expd_delay: 100
2;block_top: 5;block_left: 140;hide_delay: 100;expd_delay: 100
&&& */
