/******************************************************************************
 * form
 ******************************************************************************/
/*donde eh isssoooooooooooooooooooooooooooooooo?*/
.m-form-box
{

width:100%;

}
/*ao redor do form*/
.m-form-outer
{
 

}
/*donde eh isssoooooooooooooooooooooooooooooooo?*/
.m-form-title
{
/* background-color: #c0c0c0;*/
 color: blue;
 font-weight: bold;
 font-size: 11px;
 text-decoration: none;
}
/*formulario*/
.m-form-body
{
 background:white;
 text-align: left;
 width:100%;
margin-top:30px;

}

.m-form-css
{
 font: caption;
 text-align: left;

}
/*um conjunto de componentes*/
.m-form-row
{

/*border: 1px solid blue; */
 clear: both;
 padding: 5px;
}
/*donde eh isssoooooooooooooooooooooooooooooooo?*/
.m-form-row-0
{
 clear: both;
 padding-top: 3px;
 padding-left: 3px;
 width: 100%;
}

.m-form-row-1
{
 clear: both;
 padding-top: 3px;
 padding-left: 3px;
 width: 100%;
}

.m-form-row span.horizontal
{
 float: left;
 padding-right: 5px; 
}

/*nomes dos campos*/
.m-form-row span.label 
{
 float: left;
 padding-right: 5px; 
 width: 15%;
}

.m-form-row span.field 
{
/* float: right;*/
 width: 80%;
 display: block;
}

.m-form-row span.clear
{
 clear: both;
}

.m-form-field-box
{
 padding: 2px;
border: 1px solid blue;
 background:blue;
}
/*botoes enviar , novo , excluir, etc*/
.m-form-button-box
{
 clear: left;
}

.m-form-button-box ul 
{ 
 list-style: none; 
}

.m-form-button-box ul li
{ 
 display: inline;
}

.m-form-button-box li .hr
{
border: 1px solid blue;
}

.m-form-button-box li button
{
}


