/******************************************************************************
 * ThemeElements
 ******************************************************************************/
/******************************************************************************
 * topMenu
 ******************************************************************************/
.m-topmenu-box
{
 padding: 2px;
 color: #034A1D;
 text-align: right;
}

.m-topmenu-box li
{
 padding-left: 5px; 
}

.m-topmenu-box ul 
{ 
 list-style: none; 
}

.m-topmenu-box ul li
{ 
 display: inline;
}

.m-topmenu-current
{
 padding: 2px;
 font-weight: bold;
 color: #034A1D;
}

.m-topmenu-link
{ 
 text-decoration: none; 
 color: #034A1D;
}
 
.m-topmenu-link:link, .m-topmenu-link:visited
{ 
 color: #034A1D;
}

.m-topmenu-link:active, .m-topmenu-link:hover
{
 color: #034A1D;
 text-decoration: underline;
}

/******************************************************************************
 * Menu e submenu
 ******************************************************************************/

.m-menu-box
{
 margin: 3px 0px 3px 0px;
/* background-color: #F7F8F5;*/
 width: 100%;
padding-left: 2px;
color:#5d6c53;
}

.m-menu-box li a.m-menu-link
{
 padding-left: 14px;
/* background-image: url(/images/bullet.gif);*/
 background-image: url(/images/lista.png);
 background-repeat: no-repeat; 
list-style-position:inside;
/* background-position: .5em .5em;*/
 text-decoration: none;
color:#5d6c53;
}

.m-menu-box li div.m-menu-title
{ 
 font-weight: bold;
 font-size: 11px;
 text-align: left; 
 padding: 2px;
 padding-left: 15px;  
color:#5d6c53;
font-family:Tahoma, Verdana;

}

.m-menu-box li div.hr
{ 
/* background-color: #999;*/
}

.m-menu-box ul li 
{ 
 width: 100%;
 margin: 1px 0px 1px 0px;
border-bottom:1px solid white;
color:#5d6c53;
}

.m-menu-box ul 
{ 
 list-style: none;
color:#5d6c53;}

.m-menu-box li a.m-menu-link:link
{ 
/* color: #000000;*/
 text-decoration: none
}

.m-menu-box li a.m-menu-link:visited
{
 text-decoration: none
}

.m-menu-box li a.m-menu-link:hover
{
 text-decoration: underline
}

.m-menu-box li a.m-menu-link:active
{
 text-decoration: underline
}

.m-submenu-box
{
 margin-left: 15px;
 padding: 0px;
 background-color: #EEE;
}

.m-submenu-box li a.m-menu-link
{
 padding-left: 10px; 
 background-image: url(/images/seta.jpg);
 background-repeat: no-repeat; 
 background-position: 0 .3em;
}

.m-submenu-box ul 
{ 
 list-style: none; 
 padding: 0;
 margin: 0;
}

.m-submenu-title
{ 
 color: #000000;
 font-weight: bold;
 font-size: 9px;
 text-decoration: none;
 text-align: center; 
 background-color: #CCC;
 vertical-align: top;
}

.m-submenu-text
{ 
 text-decoration: none
 margin-left: 16px; 
}

/******************************************************************************
 * statusBar
 ******************************************************************************/

.m-statusbar
{
 width: 750px;
 margin-top: 10px;
padding-left: 180px;
padding-top: 2px;
}

.m-statusbar li
{
 text-align: center;
 margin: 3px 2px 3px 2px;
 padding: 0px 6px 6px 6px;
 height: 15px;
color:#454837;
font-family: Verdana;
}

.m-statusbar ul 
{ 
 list-style: none; 
 padding: 1px;
 margin: 2px;
 text-align: center;
 height: 19px;
}

.m-statusbar ul li
{ 
 display: inline;
}

/******************************************************************************
 * moduleHeader
 ******************************************************************************/

.m-module-header
{
 color: #000000;
 font-weight: bold;
 font-size: 11px;
 text-decoration: none;
}
/******************************************************************************
 * contentHeader
 ******************************************************************************/

.m-content-header
{
 background-color: #FFFFFF;
 color: #000000;
 font-weight: bold;
 font-size: 13px;
 margin: 2px 0px 5px 0px;
 text-decoration: none;
}
/******************************************************************************
 * Theme
 ******************************************************************************/

.m-theme-body
{
 font-size: 12px;
 margin: 0px;
 padding: 0px;
}

.themePage
{
}

.m-theme-content
{
 font-size: 11px;
 color: #000000;
 font-weight: normal;
 width: 100%;
 vertical-align: top;
 text-align: center;
}

.m-theme-box
{
 background-color: #dddddd;
 border: 1px #CCCCCC solid;
}

.m-theme-box .title
{
 color: #000000;
 font-weight: bold;
 font-size: 11px;
 text-decoration: none;
 height: 15px;
 display: block;
}

/*** Tan hack for IE ***/
* html .m-theme-box .title
{
 margin-right: -3px;
}

.m-theme-box .content
{
 background-color: #ffffff;
 font-size: 11px;
 font-weight: normal;
 margin: 1px;
 padding: 5px;
}

/******************************************************************************
 * ThemeTable
 ******************************************************************************/

.themeTableTitle
{
}

.themeTableBody
{
 background-color: #ffffff;
}

.themeTable
{ 
 color: #000000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: none
}

.themeTableRow
{
}

.themeTableCell
{
}
