/******************************************************************************
 * Containers and HTML elements
 ******************************************************************************/

/* HACK PARA TIRAR MENU PRINCIPAL -- NAO DEVE ESTAR NO LAYOUT */
#m-container-dhtmlmenu{
 display: none;
}
/* --------------------------------------------------------- */
/* HACK (NAO EXISTE ICON NO TITULO NO PADRAO DE LAYOUT)*/
.m-box-title .icon
{
	display: none;
}
/* ----------------------------------- */

*
{
	margin: 0px;
	padding: 0px;
}
body{
	color:#656565;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}
a:link, a:visited {
	color: #006600;
	text-decoration: none;
}
a:hover, a:active {
	color: #006600;
	text-decoration: underline;
}
a img{
	border:0px;
	padding:0px;
	margin:0px;
}
h1 {
	color: #406936;
	font-size: 20px;
	padding: 15px 0px 15px 18px;
}
h2 {
	color: #63A253;
	font-size: 16px;
	padding-bottom: 15px;
}
h3 {
	color: #406936;
	font-size: 24px;
	padding: 15px;
}
h4 {
	color: #63A253;
	font-size: 28px;
	padding-bottom: 15px;
}
input {
	border: 1px solid #AABF95;
	color: #7E9D60;
	font-size: 14px;
	height: 18px;
	margin: 2px;
	padding: 1px;	
}
textarea {
	border: 1px solid #AABF95;
	color: #7E9D60;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	margin: 2px;
	padding: 1px;	
}
ul li {
	text-indent: 12px;
}
fieldset
{
	font-size: 15px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
#m-container
{
	margin: 0px auto;
	padding: 0px;
	width: 730px;

}
#m-container-top
{
	background: url("images/topo.gif");
	border: solid 1px #4E7445;
	height: 66px;
	width: 728px;
}
#m-container-top .logo
{
	float: left;
	width: 181px;
	height: 43px;
	padding:10px 0px 0px 14px;
}
#m-container-topmenu
{
	background: url("images/bg_conteudo.gif") repeat-x; 
	border: solid 1px #4E7445;
	height:24px;
	line-height:24px;
}
#m-container-module
{
	font-size: 11px;
	font-weight: bold;
	text-align: right;
}
#m-container-content-full
{ 
	background: url("images/bg_conteudo.gif") repeat-x; 
	padding: 10px;
	text-align: left;
	border: solid 1px #4E7445;
}
#m-container-bottom
{
	clear:both;
	background: url("images/bg_conteudo.gif") repeat-x; 
	border: solid 1px #4E7445;
	height:30px;
	line-height:30px;
	vertical-align: middle;
}


/******************************************************************************
 * ThemeElements
 ******************************************************************************/
/******************************************************************************
 * topMenu (menu que indica a navegação)
 ******************************************************************************/
.m-topmenu-box li
{
	padding-left: 5px; 
}

.m-topmenu-box ul 
{ 
	list-style: none; 
}
.m-topmenu-box ul li
{ 
	display: inline;
}

.m-topmenu-current
{
	padding: 2px;
	color:#656565;
}

/******************************************************************************
 * Menu e submenu (Não está presente neste layout - HACK NO INÍCIO)
 ******************************************************************************/


/******************************************************************************
 * statusBar
 ******************************************************************************/

.m-statusbar
{
	color: #48662B;
}

.m-statusbar li
{
	text-align: center;
	margin: 3px 2px 3px 2px;
	padding: 0px 6px 6px 6px;
	height: 15px;
}

.m-statusbar ul 
{ 
	list-style: none; 
	padding: 1px;
	margin: 2px;
	text-align: center;
	height: 19px;
}

.m-statusbar ul li
{ 
	display: inline;
}




/******************************************************************************
 * spacer div (hack para clear both)
 ******************************************************************************/
.m-spacer { 
	clear: both;
	line-height: 0px; 
	background: transparent;
}
/******************************************************************************
 * Box
 ******************************************************************************/
.m-box-box
{
	background: #ffffff;
	border:1px solid #4E7445;
	padding: 10px;
}

/*titulo*/
.m-box-title
{
	color:#63A253;
	font-size:16px;
	font-weight: bold;
	line-height: 30px;
	vertical-align: middle;
	padding: 0px;
	padding-bottom:10px;
}
.m-box-title span{
	padding-left:0px;
}

/******************************************************************************
 * Panel
 ******************************************************************************/

/* Tan hack for IE/Win */
* html .m-panel-body
{
	height: 1%;
}
/* ------------------ */

/* DIV DOS ICONES */
.m-panel-body
{
	overflow:hidden;
	height:100%;	
}

/* ICONES */
.m-panelcontrol-box
{
	border:1px solid #406936;
	padding:1px;
	width:90px;
	float:left;
	margin:0px 10px 10px 0px;
	text-align: center;
	vertical-align: middle;
}
.m-panelcontrol-box:hover
{
	background: #7B9A5D;
	text-decoration: none;
}
.m-panelcontrol-box:hover a
{
	color: #FFFFFF;
	text-decoration: none;
}





/******************************************************************************
 * form
 ******************************************************************************/
.m-form-outer
{
	margin-left: auto;
	margin-right: auto;
}

.m-form-title
{
	background: #c0c0c0;
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	padding: 2px;
	text-decoration: none;
}

.m-form-body
{
	text-align: left;
	padding: 3px;
	background:#F4F9F0 ;
}

.m-form-css
{
	text-align: left;
	padding-left: 0px;
	background:#F4F9F0 ;
}

.m-form-row
{
	clear: both;
	padding-top: 3px;
	padding-left: 3px;
	width: 99%;
}

.m-form-row-0
{
	clear: both;
	padding-top: 3px;
	padding-left: 3px;
	width: 100%;
}

.m-form-row-1
{
	clear: both;
	padding-top: 3px;
	padding-left: 3px;
	width: 100%;
}

.m-form-row span.horizontal
{
	float: left;
	padding-right: 5px; 
}

.m-form-row span.label 
{
	float: left;
	padding-right: 5px; 
	width: 15%;
}

.m-form-row span.field 
{
	width: 80%;
	display: block;
}

.m-form-row span.clear
{
	clear: both;
}

.m-form-field-box
{
	padding: 2px;
}

.m-form-button-box
{
	padding: 3px;
	clear: left;
}

.m-form-button-box li .hr
{
	margin: 5px 0px 5px 0px; 
}

.m-form-button-box li button
{
	margin: 2px 5px 2px 5px; 
}

.m-form-button-box ul 
{ 
	list-style: none; 
	padding: 0px;
	margin: 0px;
}

.m-form-button-box ul li
{ 
	display: inline;
}
/******************************************************************************
 * spacer div
 ******************************************************************************/
.m-spacer { 
	clear: both;
	line-height: 0px; 
	background: transparent;
}
/******************************************************************************
 * promptBox
 ******************************************************************************/

.m-prompt-box
{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	border: 0px none;
}

.m-prompt-box-box
{
	width: 310px;
	margin-left: auto;
	margin-right: auto;
}

.m-prompt-box-button
{
	clear: left;
	text-align: center;
}

.m-prompt-box-button li button
{
	width: 80px;
	margin: 5px;
}

.m-prompt-box-button ul 
{ 
	list-style: none; 
	padding: 0px;
	margin: 0px;
}

.m-prompt-box-button ul li
{ 
	display: inline;
}

.m-prompt-box-text
{
	float: left;
	text-align: left;
	padding: 5px 5px 5px 40px;
	font-size: 11px;
	font-weight: bold;
}

.m-prompt-box-text li
{
	background: url("/images/bullet.gif") no-repeat 0em 0.5em;
	margin-left: 0.7em;
	padding-left: 10px; 
}

.m-prompt-box-text ul 
{ 
	list-style: none; 
	padding: 0px;
	margin: 0px;
}

.m-prompt-box-title
{
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	vertical-align: top;
	height: 17px;
	margin: 2px 1px 0px 1px;
}

.m-prompt-box-title .caption
{
	text-align: left;
	padding-top: 2px;
	float: left; 
}

.m-prompt-box-title .icon
{
	float: left; 
	padding-top: 2px;
	padding-left: 2px;
	width: 20px;
}

.m-prompt-box-title .button
{
	float: right; 
	padding-top: 2px;
	padding-right: 2px;
	width: 20px;
	text-align: right;
}

.m-prompt-box-title-error
{
	background:#A3C97C ;
}

.m-prompt-box-error
{
	width: 100%;
	background: #F4F9F0 url("/images/error.gif") no-repeat 5px 5px;
}

.m-prompt-box-title-information
{
	background: #0000ff;
}

.m-prompt-box-information
{
	width: 100%;
	background: #F4F9F0 url("/images/information.gif") no-repeat 5px 5px;
}

.m-prompt-box-title-confirmation
{
	background: #0000ff;
}

.m-prompt-box-confirmation
{
	width: 100%;
	background: url("/images/question.gif") no-repeat 5px 5px;
}

.m-prompt-box-title-question
{
	background: #006633;
}

.m-prompt-box-question
{
	width: 100%;
	background: url("/images/question.gif") 5px 5px;
}



