/******************************************************************************
 * spacer div
 ******************************************************************************/
.m-spacer { 
 clear: both;
 line-height: 0; 
 background-color: transparent;
} 

/******************************************************************************
 * Box
 ******************************************************************************/
.m-box-outer
{

}

* html .m-box-box
{
 height: 1%;
}

.m-box-box
{
/* background: #C9D6BC; */
 margin-top: auto;
 margin-bottom: auto;
}

.m-box-title
{
 background: #ffffff url(images/under_title_l.jpg) no-repeat;
 font-weight: bold;
 color: highlighttext;
 text-decoration: none;
 height: 30px;
 vertical-align: top;
 margin: 0;
 padding-left: 2px;
 padding-right: 2px;
}

.m-box-title .caption
{
 display:block;
 height:28px;
 background: #C9D6BC url(images/under_title_r.jpg) no-repeat top right;
 font-size: 20px;
 color:#5D7B45;
 padding-top: 2px;
 margin:0px;
 margin-left:5px;
 padding-left:5px;
 padding-right:5px;
 float: left; 
}

.m-box-title .icon
{
display:none;
/* float: left; 
 padding-top: 2px;
 padding-left: 2px;
 width: 20px;*/
}

.m-box-title .button
{
 float: right; 
 padding-top: 2px;
 padding-right: 0px;
 width: 20px;
 text-align: right;
}

.m-box-content
{
 background: threedface;
 font: caption;
 padding: 8px;
}

/******************************************************************************
 * Panel
 ******************************************************************************/

/* Tan hack for IE/Win */

* html .m-panel-body
{
 height: 1%;
}

.m-panel-body
{
 padding: 3px;
 background-color: #F7F8F5;
 overflow:hidden;
}

.m-panelcontrol-box
{
 margin: 5px 2px 2px 5px;
 border: 1px solid #EEE;
 padding:1px;
 font-size: 10px;
}

.m-panelcontrol-box-hover
{
 margin: 2px 0px 0 0px;
 border-top: 1px solid threedhighlight;
 border-right: 1px solid threeddarkshadow;
 border-bottom: 1px solid threeddarkshadow;
 border-left: 1px solid threedhighlight;
}

/******************************************************************************
 * promptBox
 ******************************************************************************/
.m-prompt-box
{
 width: 100%;
 margin-top: 10px;
 margin-bottom: 10px;
 text-align: center;
 border: 0 none;
}

.m-prompt-box-box
{
 width: 310px;
 margin-left: auto;
 margin-right: auto;
}

.m-prompt-box-button
{
 clear: left;
 text-align: center;
}

.m-prompt-box-button li button
{
 font: caption;
 width: 80px;
 margin: 5px;
}

.m-prompt-box-button ul 
{ 
 list-style: none; 
 padding: 0;
 margin: 0;
}

.m-prompt-box-button ul li
{ 
 display: inline;
}

.m-prompt-box-text
{
 float: left;
 text-align: left;
 padding: 5px 5px 5px 40px;
 font-size: 11px;
 font-weight: bold;
}

.m-prompt-box-text li
{
 background-image: url(images/bullet.gif);
 background-repeat: no-repeat; 
 background-position: 0 0.5em;
 margin-left: .7em;
 padding-left: 10px; 
}

.m-prompt-box-text ul 
{ 
 list-style: none; 
 padding: 0;
 margin: 0;
}

.m-prompt-box-title
{
 height:20px;
 background:  url(images/under_title_l.jpg) no-repeat left top;
 color: #FFF;
 font-weight: bold;
 font-size: 12px;
 text-decoration: none;
 vertical-align: top;
 margin: 2px 0px 0px 0px;
}

.m-prompt-box-title .caption
{
 background: #C9D6BC url(images/under_title_r.jpg) no-repeat right top;
 text-align: center;
 padding-top: 2px;
 float: left; 
 height:18px;
 width: 99%;
margin: 0px 5px 0px 5px;
}

.m-prompt-box-title .icon
{
 float: left; 
 padding-top: 2px;
 padding-left: 2px;
 width: 20px;
}

.m-prompt-box-title .button
{
 float: right; 
 padding-top: 2px;
 padding-right: 2px;
 width: 20px;
 text-align: right;
}

.m-prompt-box-title-error
{
 //background-color: #436739;
}

.m-prompt-box-error
{
 background-color: threedface;
 width: 100%;
 background-image: url(images/error.gif);
 background-repeat: no-repeat; 
 background-position: 5px 5px;
}

.m-prompt-box-title-information
{
 //background-color: #0000ff;
}

.m-prompt-box-information
{
 background-color: #F7F8F5;
 width: 100%;
 background-image: url(images/information.gif);
 background-repeat: no-repeat; 
 background-position: 5px 5px;
}

.m-prompt-box-title-confirmation
{
 background-color: #0000ff;
}

.m-prompt-box-confirmation
{
 background-color: #F7F8F5;
 width: 100%;
 background-image: url(images/question.gif);
 background-repeat: no-repeat; 
 background-position: 5px 5px;
}

.m-prompt-box-title-question
{
 //background-color: #006633;
}

.m-prompt-box-question
{
 background-color: #F7F8F5;
 width: 100%;
 background-image: url(images/question.gif);
 background-repeat: no-repeat; 
 background-position: 5px 5px;
}
