/******************************************************************************
 * Icons
 ******************************************************************************/
.icon-edit-on
{
 background-image: url(images/button_edit.png);
}

.icon-edit-off
{
 background-image: url(images/button_noedit.png);
}

.icon-delete-on
{
 background-image: url(images/button_drop.png);
}

.icon-delete-off
{
 background-image: url(images/button_noempty.png);
}

.icon-select-on
{
 background-image: url(images/button_select.png);
}

.icon-detail-on
{
 background-image: url(images/plus.gif);
}

.icon-detail-off
{
 background-image: url(images/minus.gif);
}

.icon-accept-on
{
 background-image: url(images/accept.png);
}
